body {
    font-family: "courier";
    margin: 50px 10px 0 10px;
    background: #40c4ff;
  }
  
  
  section {
    min-height: 25vh;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  .fotito {
    width: 300px;
    display: flex;
    margin: 0 auto;
    border: solid 1px #bdbdbd;
    border-radius: 70%;
   
  }
  
  
  
  .preiconos ul li a i {
   font-size: 35px;
  
  
  }
  
  
  . i {
    font-size: 200px;
  
  }
  
  
  
  .div p {
          text-align: center;
  
  
  }
  
  
  .nav-text {
    text-align: center;
    font-size: 13px;
    font-family: courier;
  }
  
  ul {
    text-align: center;
    padding: 0px;
  }
  
  .nav-ul li {
    display: inline-block;
    padding: 2px;
  }
  
  .presentacion {
    text-align: center;
    text-transform: ;
    margin: 2% 10%;
    font-family: courier
    font-size: 11px;
    color: white;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  }
    
  
  splash .btn {
      background: #40c4ff ;
      color: black;
    }
  
  ul li a:hover, ul li a:active {
    background-color: inherit;
    box-shadow: -2px 2px 2px 
  
  }
  
  .contenedor {
  
            text-align: center;
  }
  
  
  }
  
  .section-ul {
    display: inline;
  }
  
  .section-ul li {
    box-shadow: -4px 3px 0 0;
    margin: 15px auto;
    background: white;
    border: solid 1px grey;
    width: fit-content;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
  
  }
  
  .section-ul li:  {
    
    font-size: 12px;
    border: none;
    box-shadow: none;
  }
  
  .contact,
  .copyright {
    font-size: 10px;
  }
  
  .copyright {
    margin-top: 25px;
  }
  
  
  .btn {
      color:#333;
      background-color: white;
      padding:10px;
      transition:.5s;
  
      
  }
  .btn:hover {
      color:#ff4c4c;
      background-color: #black;
      box-shadow: none;
  }
  
  
  
  
  
  /*
  .fotito 
  border-radius: 80px
  
  
  